html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
   margin: 0;
}

ul { 
   list-style: none;
   padding-left: 0;
   margin: 0;
}

:root {
   --diverse-text-color: #000;
   --main-text-color: #212121;
   --second-text-clr: #757575;
   --third-text-clr: #FFFFFF; 
   --accent-text-clr: #2196F3;
   --contact-footer: rgba(255, 255, 255, 0.6);
   --main-background-clr: #FFFFFF;
   --second-background-clr: #F5F4FA;
   --third-background-clr: #2F303A;
   --header-border: #ececec;
   --work-border: #EEEEEE;
   --box-shadow-team: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
   font-family: 'Roboto', sans-serif;
   letter-spacing: .03em;
   color: var(--second-text-clr);

   background-color: var(--main-background-clr);
}

.container {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
   } 

.section {
   padding-top: 94px;
   padding-bottom: 94px;
}

.link { text-decoration: none; }

/* main header styles */

.header-links {
   font-size: 14px;
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: .02em;

   border-bottom: 1px solid var(--header-border);
}

.nav {
   display: flex;
   align-items: center;
}

.logo {
   padding-top: 24px;
   padding-bottom: 24px;
   margin-right: 93px;
}

.logo-accent {
   font-family: 'Raleway', sans-serif;
   font-size: 26px;
   font-weight: 700;
   line-height: 1.2;
   color: var(--accent-text-clr);
}

.logo-header {
   font-family: 'Raleway', sans-serif;
   font-size: 26px;
   font-weight: 700;
   line-height: 1.2px;
   color: var(--diverse-text-color);
}

.site-nav {
   display: flex;
   padding-top: 32px;
   padding-bottom: 32px;
}

.header-item:not(:last-child) { margin-right: 50px; }

.site-nav .link { color: var(--main-text-color); }

.contact-header {
   display: flex;
   padding-top: 32px;
   padding-bottom: 32px;
   margin-left: auto;
}
.contact-header .link { color: var(--second-text-clr); }


.site-nav .link:hover,  
.site-nav .link:focus,
.site-nav .link.current,
.contact-header .link:hover,
.contact-header .link:focus,
.logo-header:hover,
.logo-header:focus,
.contact-footer:hover,
.contact-footer:focus,
.map-link:hover,
.map-link:focus {
   color: var(--accent-text-clr); 
}

/* main body styles */

.hero-button,
.portfolio-button {
   font-family: inherit;
   cursor: pointer;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/*
* main content index.html 
*/

/* section hero */

.hero,
.footer { 
   background-color: var(--third-background-clr);
}

.hero .container {
   text-align: center;
   /* margin-left: auto;
   margin-right: auto; */
   padding-top: 200px;
   padding-bottom: 200px;
}

.section.hero {
   padding-top: 0px;
   padding-bottom: 0px;
}

.hero-title {
   font-size: 44px;
   font-weight: 900;
   line-height: 1.36;
   letter-spacing: .06em;
   color: #FFFFFF;
   text-transform: uppercase;
   margin-bottom: 30px;
}
.hero-second { display: block; }

.hero-button {
   font-size: 16px;
   font-weight: 700;
   line-height: 1.87;
   letter-spacing: .06em;
   color: var(--third-text-clr);
   text-align: center;
   border-radius: 4px;
   padding: 10px 32px;
   min-width: 200px;
   border: 1px solid transparent ;

   background-color: var(--accent-text-clr);
}

.hero-button:hover,
.hero-button:focus {
   color: var(--accent-text-clr);
   border: 1px solid var(--accent-text-clr) ;

   background-color: var(--third-text-clr);
}

/* section special */
.section.special {
   padding-top: 94px;
   padding-bottom: 94px;
}

.special-list { display: flex; }

.special-list > .item:not(:last-child){ margin-right: 30px; }

.section-title-special {
   margin-bottom: 10px;

   font-size: 14px;
   font-weight: 700;
   line-height: 1.14;
   letter-spacing: .03em;
   color:var(--main-text-color);
   text-transform: uppercase;
   }
   
.section-title-text {
   margin-bottom: 0;

   font-size: 14px;
   line-height: 1.7;
   
}
/* section work */

.section.main-works { padding-top: 0px; }

.section-title-main {
   margin-bottom: 50px;

   font-size: 36px;
   font-weight: 700;
   line-height: 1.16;
   color: var(--diverse-text-color);
   text-align: center;
}

.works { display: flex; }

.works > .item:not(:last-child) { margin-right: 30px; }

/* section team */

.section.team { 
   text-align: center;
   background-color: var(--second-background-clr);
}

.team {
   display: flex;
}

.team-item:not(:last-child) {
   margin-right: 30px;
}

.team-item {
   background: var(--main-background-clr);

   padding-top: 0px;
   padding-bottom: 30px;
   box-shadow: var(--box-shadow-team);
   border-radius: 0px 0px 4px 4px;

}
.team-box {
   margin-top: 30px;
}

.team-title {
   font-size: 16px;
   line-height: 1.19;
   color: var(--main-text-color);
   margin-bottom: 10px;
}

.team-text{
   font-size: 16px;
   line-height: 1.19;
   margin-bottom: 0;
}

/* footer */

.footer {
   display: block;
   padding-top: 60px;
   padding-bottom: 60px;
}
.box-footer { 
   margin-bottom: 20px; }

.logo-footer {
   font-family: 'Raleway', sans-serif;
   font-size: 26px;
   font-weight: 700;
   line-height: 1.19;
   color: var(--third-text-clr);
}

.logo-footer:hover,
.logo-footer:focus {
   color: var(--accent-text-clr);
}

.map-link {
   font-size: 14px;
   font-style: normal;
   line-height: 1.71;
   color: var(--third-text-clr);
}

.contact-footer {
   margin-top: 9px;

   font-size: 14px;
   font-style: normal;
   line-height: 1.71;
   color: var(--contact-footer)
}

/* 
*section portfolio.html 
*/

.filter {
   display: flex;
   justify-content: center;
}

.portfolio-button {
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
   color: var(--main-text-color);
   border-radius: 4px;
   border: 1px solid transparent;
   padding: 6px 22px;

   background-color: var(--second-background-clr);
}

.button-item:not(:last-child) { margin-right: 8px; }

.portfolio-button.current,
.portfolio-button:hover,
.portfolio-button:focus {
   color: var(--third-text-clr);

   background-color: var(--accent-text-clr);
}

.card {
   margin-top: 50px;
   display: flex;
   flex-wrap: wrap;
}

.card-item {
   width: 370px;
   margin-top: 30px;
   margin-left: 30px;
}

.card-item:nth-child(3n + 1) { margin-left: 0; }

.card-item:nth-child(-n + 3) { margin-top: 0; }

.card-box {
   padding: 20px 24px;
   background: var(--main-background-clr);
   border: 1px solid var(--header-border);
   border-top: 0; 
}

.card-title {
   margin-bottom: 0;
   font-size: 18px;
   font-weight: 700;
   line-height: 2;
   letter-spacing: .06em;
   color: var(--main-text-color);

}

.card-text {
   font-size: 16px;
   line-height: 1.87;
   color: var(--second-text-clr);
   margin-top: 4px;
   margin-bottom: 0;
}